<!DOCTYPE html>
<html>
<head>
    <title>Online Payment Fraud Detection</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="main-wrapper">

    <div class="card">

        <h1>Online Payment Fraud Detection</h1>

        <p class="subtitle">
            Detect whether an online payment transaction is Fraud or Safe 
            using Machine Learning.
        </p>

        <a href="/predict">
            <button class="primary-btn">Start Prediction</button>
        </a>

    </div>

</div>

</body>
</html>
